.Container {
  margin: 20px auto;
  width: 40%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.TextCenter {
  text-align: center;
}

.Error {
  color: red;
}

Button {
  margin: 20px 0;
}
